<h1 class="no-print alert alert-success">
    {% block title %}
        Επιτυχής Καταχώρηση <small>φόρμας παραλαβής νέου εξοπλισμού</small>
    {% endblock %}
</h1>
<p class="no-print">Η φόρμα παραλαβής για το σχολείο {{ school.name }} με <strong>Α/Α αίτησης {{ receiveEquip.id }}</strong>, καταχωρήθηκε επιτυχώς.</p>

<h2>Παραλαβή Εξοπλισμού</h2>
<div class="row">
    <dl class="col-sm-12 col-md-6">
        <dt>A/A εγκεκριμένης αίτησης</dt>
        <dd>{{ receiveEquip.id }}</dd>
        <dt>Ημερ. υποβολής</dt>
        <dd>{{ receiveEquip.submitted|date('d/m/Y') }}<dd>
        <dt>Ημερ. παραλαβής</dt>
        <dd>{{ receiveEquip.received_ts|date('d/m/Y') }}<dd>
    </dl>
    <dl class="col-sm-12 col-md-6">
        <dt>Σχολείο</dt>
        <dd>{{ school.name }}</dd>
        <dt>Κωδικός Υπουργείου</dt>
        <dd>{{ school.registry_no }}<dd>
        <dt>Διεύθυνση</dt>
        <dd>{{ school.eduadmin }}<dd>
        <dt>Περιφέρεια</dt>
        <dd>{{ school.regioneduadmin }}<dd>
    </dl>
</div>
<h3>Εξοπλισμός που παραλήφθηκε</h3>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Τύπος</th>
                <th>Χώρος</th>
                <th>Πλήθος αιτηθέντων</th>
                <th>Πλήθος παραληφθέντων</th>
            </tr>
        </thead>
        <tbody>
            {% for item in receiveEquip.items %}
                <tr>
                    <td>{{ item.itemcategory }}</td>
                    <td>{{ item.lab }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.qtyreceived }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
</div>
