{% extends "layout.twig" %}

{% block content %}
    <h1>Σύνδεση</h1>
    <div class="row">
        <div class="col-xs-12">
            <p>Αν έχετε ήδη δημιουργήσει λογαριασμό στο σύστημα, συνδεθείτε εδώ.</p>
            <form method="post" action="{{ path_for('user.login') }}" id="user-login-form" class="form-horizontal">
            <div class="form-group">
                <label class="hidden-sm col-sm-3 control-label">Email</label>
                <div class="col-xs-12 col-sm-9 col-md-5 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                        </span>
                        <input name="identity" type="text" value="" class="form-control" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="hidden-sm col-sm-3 control-label">Password</label>
                <div class="col-xs-12 col-sm-9 col-md-5 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </span>
                        <input name="credential" type="password" value="" class="form-control" required autocomplete="off">
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group text-center">
                <button name="dologin" type="submit" value="1" class="btn btn-primary">Σύνδεση</button>
            </div>
            <input type="hidden" name="{{ csrf.name_key }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.value_key }}" value="{{ csrf.value }}">
        </form>
        </div>
    </div>
{% endblock %}