{% extends "layout.twig" %}

{% block content %}
    <h1>Σύνδεση</h1>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <p>Για την σύνδεση των σχολικών μονάδων ή αν επιθυμείτε να συνδεθείτε μέσω το Πανελληνίου Σχολικού Δικτύου.</p>
        <hr>
        <p class="text-center">
            <a class="btn btn-lg btn-success" href="{{ path_for('user.loginSso') }}" role="button">Σύνδεση sch.gr</a>
        </p>
    </div>
    <div class="clearfix visible-sm"></div>
    <div class="col-sm-12 col-md-6">
        <p>Αν έχετε ήδη δημιουργήσει λογαριασμό στο σύστημα, συνδεθείτε εδώ.</p>
        <form method="post" action="{{ path_for('user.login') }}" id="user-login-form" class="form-horizontal">
        <div class="form-group">
            <label class="hidden-sm col-sm-3 control-label">Email</label>
            <div class="col-xs-12 col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input name="identity" type="text" value="" class="form-control" required autocomplete="off">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="hidden-sm col-sm-3 control-label">Password</label>
            <div class="col-xs-12 col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input name="credential" type="password" value="" class="form-control" required autocomplete="off">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group text-center">
            <button type="submit" name="login_method" value="credentials" class="btn btn-primary">Σύνδεση</button>
        </div>
        <input type="hidden" name="{{ csrf_name_key }}" value="{{ csrf_name }}">
        <input type="hidden" name="{{ csrf_value_key }}" value="{{ csrf_value }}">
    </form>
    </div>
</div>
{% endblock %}