{% macro input(name, label, value, type, attributes) %}
<div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <input placeholder="{{ label|striptags }}" class="form-control input-sm"
            type="{{ type|default('text') }}" name="{{ name }}"
            id="el-{{ name }}" value="{{ value|default('')|raw }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
    </div>
</div>
{% endmacro %}

{% macro checkbox(name, label, checked, attributes) %}
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
        <div class="checkbox">
            <label for="el-{{ name }}">
                <input type="checkbox" name="{{ name }}" id="el-{{ name }}" 
                    {% for attr_name, attr_value in attributes|default({}) %}
                        {{ attr_name }}="{{ attr_value }}"
                    {% endfor %}
                    {% if checked %} checked{% endif %} value="asdasdasd">
                {{ label|raw }}
            </label>
        </div>
    </div>
</div>
{% endmacro %}

{% macro file(name, label, value, attributes) %}
<div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Επιλέξτε&hellip; <input type="file" multiple name="{{ name }}" id="el-{{ name }}">
                </span>
            </span>
            <input type="text" class="form-control" readonly placeholder="{{ label|striptags }}"
            {% for attr_name, attr_value in attributes|default({}) %}
                {{ attr_name }}="{{ attr_value }}"
            {% endfor %}>
            
            <span class="input-group-btn">
                <span class="btn btn-default btn-file-remove">
                    <i class="fa fa-remove"></i>
                </span>
            </span>
        </div>
               
    </div>
</div>
{% if value %}
<div class="uploaded help-block pull-right" data-href="{{ value }}">
    <small class="uploaded-label">Υπάρχει ήδη καταχωρημένο αρχείο:</small>
    <div class="btn-group btn-group-sm">
        <a href="#" target="_blank" class="btn-download btn bnt-link btn-sm">
            <i class="fa fa-download"></i> Λήψη</a>
        <a href="#" class="btn-remove btn bnt-link btn-sm text-danger">
            <i class="fa fa-remove"></i> Διαγραφή</a>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro select(name, label, options, selected, attributes) %}
<div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <select class="form-control input-sm" name="{{ name }}" id="el-{{ name }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %} data-placeholder="{{ label|striptags }}">
        {% set multi = attributes.multiple is defined %}
        {% if multi %}
            <optgroup label="{{ label|striptags }}">
        {% endif %}
            {% if not multi %}
                <option value="" disabled{% if selected is empty %} selected{% endif %}>{{ label|striptags }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ option.value|e }}"{% if selected == option.value %} selected{% endif %}>
                    {{ option.label }}
                </option>
            {% endfor %}
        {% if multi %}
            </optgroup>
        {% endif %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro select_year(name, label, selected, start, attributes) %}
    <div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <select class="form-control input-sm" name="{{ name }}" id="el-{{ name }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
            <option value="" disabled{% if selected is empty %} selected{% endif %}>{{ label|striptags }}</option>
            {% for option in range("now"|date("Y"), start|default(1980)) %}
            <option value="{{ option|e }}"{% if selected == option %} selected{% endif %}>
                {{ option }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro text(name, label, value, attributes) %}
    <div class="form-group">
        <label for="el-{{ name }}" class="col-xs-12 pull-left">
            {{ label|e }}
        </label>
        <div class="col-xs-12">
            <textarea id="el-{{ name }}" name="{{ name }}" class="form-control" placeholder="{{ label|striptags }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
                {{ value|striptags }}
            </textarea>
        </div>
    </div>
{% endmacro %}