{% extends "layout.twig" %}

{% macro input(name, label, value, type, attributes) %}
<div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <input placeholder="{{ label|striptags }}" class="form-control input-sm"
            type="{{ type|default('text') }}" name="{{ name }}"
            id="el-{{ name }}" value="{{ value|default('')|raw }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
    </div>
</div>
{% endmacro %}

{% macro file(name, label, value, attributes) %}
<div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Επιλέξτε&hellip; <input type="file" multiple name="{{ name }}" id="el-{{ name }}">
                </span>
            </span>
            <input type="text" class="form-control" readonly placeholder="{{ label|striptags }}"
            {% for attr_name, attr_value in attributes|default({}) %}
                {{ attr_name }}="{{ attr_value }}"
            {% endfor %}>
            <span class="input-group-btn">
                <span class="btn btn-default btn-file-remove">
                    <i class="fa fa-remove"></i>
                </span>
            </span>
        </div>
    </div>
</div>
{% endmacro %}

{% macro select(name, label, options, selected, attributes) %}
<div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <select class="form-control input-sm" name="{{ name }}" id="el-{{ name }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
        {% set multi = attributes.multiple is defined %}
        {% if multi %}
            <optgroup label="{{ label|striptags }}">
        {% endif %}
            {% if not multi %}
                <option value="" disabled{% if selected is empty %} selected{% endif %}>{{ label|striptags }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ option.value|e }}"{% if selected == option.value %} selected{% endif %}>
                    {{ option.label }}
                </option>
            {% endfor %}
        {% if multi %}
            </optgroup>
        {% endif %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro select_year(name, label, selected, start, attributes) %}
    <div class="form-group">
    <label class="control-label hidden-xs hidden-sm col-md-3" for="el-{{ name }}">{{ label|raw }}</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <select class="form-control input-sm" name="{{ name }}" id="el-{{ name }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
            <option value="" disabled{% if selected is empty %} selected{% endif %}>{{ label|striptags }}</option>
            {% for option in range("now"|date("Y"), start|default(1980)) %}
            <option value="{{ option|e }}"{% if selected == option %} selected{% endif %}>
                {{ option }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro text(name, label, value, attributes) %}
    <div class="form-group">
        <label for="el-{{ name }}" class="col-xs-12 pull-left">
            {{ label|e }}
        </label>
        <div class="col-xs-12">
            <textarea id="el-{{ name }}" name="{{ name }}" class="form-control" placeholder="{{ label|striptags }}"
        {% for attr_name, attr_value in attributes|default({}) %}
            {{ attr_name }}="{{ attr_value }}"
        {% endfor %}>
                {{ value|striptags }}
            </textarea>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div id="school">
        <h1>
        {% block schoolTitle %}
            Το σχολείο
        {% endblock %}
        </h1>
        <ul class="nav nav-tabs">
            {% for page in nav('main').school.pages %}
            <li role="presentation" class="{% if page.active %}active{% endif %}">
                <a href="{{ page.href }}" {% if page.id %}id="{{ page.id }}"{% endif %} title="{{ page.label }}">
                    <i class="visible-xs fa fa-{{ page.icon }}"></i>
                    <span class="hidden-xs">{{ page.label }}</span>
                </a>
            </li>
            {% endfor %}
            {% block navItems %}{% endblock %}
        </ul>
        <br>
        <div class="row">
            <div class="col-xs-12 school-container">
                {% block schoolContent %}

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar tincidunt 
                    odio, vel pretium mauris imperdiet at. In tempor fermentum enim, euismod posuere 
                    purus venenatis sit amet. Sed tincidunt, sapien et varius congue, orci urna rutrum 
                    magna, in porttitor tellus ante nec quam. Praesent non ante commodo, ornare tellus 
                    ut, commodo dolor. Aliquam id laoreet est, sed efficitur erat. Nunc orci diam, 
                    fringilla eu hendrerit sit amet, mollis a risus. Nullam aliquet nisi aliquam ipsum 
                    scelerisque, at convallis augue convallis. In placerat lorem eget lectus maximus, 
                    sed mattis arcu efficitur. Nunc in magna ac neque eleifend sagittis. Quisque non 
                    eros id nibh faucibus posuere. Fusce ut lorem laoreet lacus fermentum tempus at a 
                    ante. Suspendisse luctus libero vel varius fermentum. Suspendisse nec metus odio.</p>

                <p>In sapien urna, interdum nec sollicitudin vitae, efficitur et elit. Aliquam erat 
                    volutpat. Aenean a nisl non quam hendrerit condimentum. Sed rhoncus posuere nulla, 
                    vel aliquam orci imperdiet ullamcorper. Morbi vel lacus sem. Donec sit amet eros 
                    eros. Donec sit amet vestibulum nunc. Pellentesque habitant morbi tristique senectus
                     et netus et malesuada fames ac turpis egestas. Fusce interdum congue nibh accumsan 
                     convallis. Curabitur sit amet orci efficitur, luctus metus ut, euismod enim. Aenean
                      ultricies arcu nisi, sit amet finibus risus posuere nec. </p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block inlinejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script type="text/javascript" src="{{ base_url }}/js/schools/index.js"></script>
{% endblock %}