{% extends "layout.twig" %}

{% block content %}
    <div id="school">
        <h1>
        {% block schoolTitle %}
            {{ school.name }}
        {% endblock %}
        </h1>
        <ul class="nav nav-tabs">
            {% for page in nav('main').school.pages %}
            <li role="presentation" class="{% if page.active %}active{% endif %}">
                <a href="{{ page.href }}" {% if page.id %}id="{{ page.id }}"{% endif %} title="{{ page.label }}">
                    <i class="visible-xs fa fa-{{ page.icon }}"></i>
                    <span class="hidden-xs">{{ page.label }}</span>
                </a>
            </li>
            {% endfor %}
            {% block navItems %}{% endblock %}
        </ul>
        <br>
        <div class="row">
            <div class="col-xs-12 school-container">
                {% block schoolContent %}
                <div id="school-info">
                    <p class="col-xs-12">
                        Σε αυτή την καρτέλα θα καταχωρήσετε πληροφορίες που 
                        αφορούν στο σχολείο σας, όπως τους εκπαιδευτικούς 
                        που θα ασχοληθούν με την υλοποίηση του έργου, 
                        τους χώρους που χρησιμοποιείτε για χρήση ΤΠΕ ή 
                        τους επιπλέον χώρους που θα επιθυμούσατε να 
                        χρησιμοποιήσετε για χρήση ΤΠΕ, τον εξοπλισμό 
                        ΤΠΕ που διαθέτει το σχολείο και τον τρόπο που τον 
                        χρησιμοποιείτε κλπ.
                    </p>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Εκπαιδευτικοί</h4>
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>Διευθυντής</dt>
                                    <dd>{{ staff.principle }}</dd>
                                    <dt>Εκπαιδευτικοί</dt>
                                    {% for teacher in staff.teachers %}
                                        <dd>{{ teacher }}</dd>
                                    {% endfor %}
                                </dl>
                            </div>
                            <div class="panel-footer text-center">
                                <a class="btn btn-sm btn-primary" href="{{ path_for('school.staff') }}#add">Καταχώρηση εκπαιδευτικού</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Καταχωρημένοι χώροι</h4>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {% for lab in labs %}
                                    <li>{{ lab.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="panel-footer text-center">
                                <a class="btn btn-sm btn-primary" href="{{ path_for('school.labs') }}#add">Καταχώρηση χώρου</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Εξοπλισμός</h4>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    {% for asset in assets %}
                                        <dt>{{ asset.category }}</dt>
                                        <dd>{{ asset.count }}<dd>
                                    {% endfor %}
                                </dl>
                            </div>
                            <div class="panel-footer text-center">
                                <a class="btn btn-sm btn-primary" href="{{ path_for('school.assets') }}#add">Καταχώρηση εξοπλισμού</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block inlinejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script type="text/javascript" src="{{ base_url }}/js/schools/index.js"></script>
{% endblock %}