{% extends "layout.twig" %}
{% block content %}
    <div id="approved_applications">
        <h1>Αιτήσεις που εγκρίθηκαν</h1>
        <p>Ακολουθεί κατάλογος των αιτήσεων οι οποίες εγκρίθηκαν στην πρώτη φάση διεξαγωγής του προγράμματος</p>
        {% if approved_forms %}
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <caption>Συνολικά {{ approved_forms | length }} εγκεκριμένες αιτήσεις.</caption>
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Σχολείο</th>
                            <th>Διεύθυνση όπου ανήκει</th>
                            <th class="text-center">Α/Α αίτησης</th>
                            <th class="text-center">Ημερ. υποβολής</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in approved_forms %}
                            <tr>
                                <td class="text-center col-xs-1"><span class="text-muted">{{ loop.index }}</span></td>
                                <td class="col-xs-5"><strong>{{ form.school }}</strong> <span class="text-muted"></td>
                                <td class="col-xs-4">{{ form.eduadmin }}<br/>{{ form.regioneduadmin }}</td>
                                <td class="text-center col-xs-1"><span class="text-muted">{{ form.id }}</span></td>
                                <td class="text-center col-xs-1"><span class="text-muted">{{ form.submitted|date('d/m/Y') }}</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">Δεν υπάρχουν διαθέσιμα στοιχεία</div>
        {% endif %} 
    </div>
{% endblock %}

