{% extends "layout.twig" %}

{% block content %}
    <h1>Σύνδεση</h1>
    <div class="row">
        <div class="{% if enable_database_login %}col-sm-12 col-md-6{% else %}col-lg-12{% endif %}">
            <p>Για την σύνδεση των <strong>σχολικών μονάδων</strong>, η σύνδεση 
                πραγματοποιείται μέσω του Κεντρικής Υπηρεσίας Πιστοποίησης χρηστών 
                του Πανελλήνιου Σχολικού Δικτύου, χρησιμοποιώντας τον <strong>επίσημο λογαριασμό</strong>
                του σχολείου.</p>
            <p>Ο επίσημος λογαριασμός του σχολείου είναι <strong>ο λογαριασμός που χρησιμοποιείτε 
                για την παραλαβή της αλληλογραφίας του σχολείου</strong>, και όχι ο λογαριασμός του 
                γραμματειακού συστήματος myschool.</p>
            <hr>
            <form method="get" action="{{ path_for('user.login.sso') }}" id="user-login-form" class="form-horizontal" value="1">
                <p class="text-center">
                    <button name="dologin" value="1" type="submit" class="btn btn-lg btn-success">Σύνδεση sch.gr</button>
                </p>
            </form>
        </div>
        {% if enable_database_login %}
        <div class="clearfix visible-sm"></div>
        <div class="col-sm-12 col-md-6">
            <form method="post" action="{{ path_for('user.login') }}" id="user-login-form" class="form-horizontal">
            <div class="form-group">
                <label class="hidden-sm col-sm-3 control-label">Email</label>
                <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                        </span>
                        <input name="identity" type="text" value="" class="form-control" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="hidden-sm col-sm-3 control-label">Password</label>
                <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </span>
                        <input name="credential" type="password" value="" class="form-control" required autocomplete="off">
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group text-center">
                <button name="dologin" type="submit" value="1" class="btn btn-primary">Σύνδεση</button>
            </div>
            <input type="hidden" name="{{ csrf.name_key }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.value_key }}" value="{{ csrf.value }}">
        </form>
        </div>
        {% endif %}
    </div>
{% endblock %}