{% extends "layout.twig" %}

{% block content %}
    <div id="edulabsresult">
        <h1>Αποτελέσματα: {{ data | length }}</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Λεπτομέρειες</h4>
            </div>
            <div class="panel-body">
                {% for key, value in data %}
                    <h4>Αποτέλεσμα {{ key }}</h4>
                    {% for key2, value2 in value %}
                        <p>{{ key2 }}: <strong>{{ value2 }}</strong></p>
                    {% endfor %}
                {% endfor %}
                </dl>
            </div>
            <div class="panel-footer text-center">
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=SCHOOLS&outputFormat=HTML">Σχολεία - HTML</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=SCHOOLS&outputFormat=JSON">Σχολεία - JSON</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=LABS&outputFormat=HTML">Εργαστήρια - HTML</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=LABS&outputFormat=JSON">Εργαστήρια - JSON</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=ASSETS&outputFormat=HTML">Υπάρχων Εξοπλισμός - HTML</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=ASSETS&outputFormat=JSON">Υπάρχων Εξοπλισμός - JSON</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=APPFORMS&outputFormat=HTML">Αιτήσεις - HTML</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=APPFORMS&outputFormat=JSON">Αιτήσεις - JSON</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=APPFORMSITEMS&outputFormat=HTML">Αιτούμενος Εξοπλισμός - HTML</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=APPFORMSITEMS&outputFormat=JSON">Αιτούμενος Εξοπλισμός - JSON</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=SOFTWARE&outputFormat=HTML">Υπάρχον Λογισμικό - HTML</a>
                <a class="btn btn-sm btn-primary" href="{{ path_for('open_data_api') }}?queryType=SOFTWARE&outputFormat=JSON">Υπάρχον Λογισμικό - JSON</a>
            </div>
        </div>
    </div>
{% endblock %}