{% extends "layout.twig" %}
{% block content %}
    <h1>Ανοικτά δεδομένα</h1>
    <p>Στα παρακάτω αρχεία ανοικτών δεδομένων παρουσιάζονται τα δεδομένα που 
        έχουν καταχωρηθεί στο σύστημα EduLabs 
        <strong>έως και αυτή τη στιγμή</strong>.</p>
    <p>Στο αρχείο αιτήσεων εμφανίζεται μόνο η τελευταία υποβληθείσα αίτηση από 
        κάθε σχολείο. Ωστόσο οι προηγούμενες αιτήσεις των σχολείων 
        <strong>διατηρούνται</strong> στο σύστημα EduLabs. Για την αξιολόγηση 
        των αιτήσεων θα χρησιμοποιηθούν μόνο όσες υποβλήθηκαν εντός της 
        προθεσμίας, δηλ. μέχρι 8/4/2016, ώρα 23:59:59.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Δεδομένα</th>
                <th>Μεταφόρτωση αρχείου</th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <td>Μονάδες που συμμετέχουν στη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'schools'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Χώροι μονάδων που καταγράφηκαν από τη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'labs'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Εξοπλισμός μονάδων που καταγράφηκε από τη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'assets'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Λογισμικό που χρησιμοποιείται από τις μονάδες και καταγράφηκε από τη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'software'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Αιτήσεις που συγκεντρώθηκαν από τις μονάδες</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'appforms'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>

            </tr>
            <tr>
                <td>Εξοπλισμός που αιτήθηκαν οι μονάδες</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'appforms_items'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Νέες αιτήσεις που συγκεντρώθηκαν από τις μονάδες</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'appnewforms'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Εξοπλισμός που αιτήθηκαν οι μονάδες με τις νέες αιτήσεις</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'newapplication'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
        <tr>
                <td>Σχολεία των οποίων οι αιτήσεις εγκρίθηκαν</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'sch_approved'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
        </tr>
        </tbody>
        <tfoot>
            <tr><th colspan="2"></th><tr>
        </tfoot>
    </table>
{% endblock %}
